// Navbar
$navbar-button-colour: #464a50
$navbar-button-colour-hover: #cdd3db
$navbar-button-colour-selected: #7f848b

// Tiles
$text-colour: #F7F7F7
$tile-colour: #5a6996
$tile-colour-stripe: #96a2c7
$tile-colour-selected: #ffffff
$tile-colour-highlighted: #c3cce7
$tile-colour-disabled: #d6d1d8

$tile-colour-block-s: #a33d3d
$tile-colour-block-p: #ceb95e
$tile-colour-block-d: #384aae
$tile-colour-block-f: #247921

$tile-colour-state-solid: #825b71
$tile-colour-state-liquid: #6f8db4
$tile-colour-state-vapour: #6fb475

$tile-colour-classification-nonmetal: linear-gradient(to top, #5e476b 13%, #c658e5 100%)
$tile-colour-classification-metaloid: linear-gradient(to top, #a4a5d6 13%, #5e588c 100%)
$tile-colour-classification-metal: linear-gradient(to top, #c1c6cb 13%, #606f72 100%)

$radiation-true-colour: #25c8b0
$radiation-false-colour: #979797

// Modal
$modal-background: #e4e2ec92
$modal-text-colour: #2b2b2f