<div class="container">
    <input class="{{getClass(0)}}" type="button" name="mode" (click)="onModeChange(0)" value="Elements">
    <input class="{{getClass(1)}}" type="button" name="mode" (click)="onModeChange(1)" value="Blocks">
    <input class="{{getClass(2)}}" type="button" name="mode" (click)="onModeChange(2)" value="Groups">
    <input class="{{getClass(3)}}" type="button" name="mode" (click)="onModeChange(3)" value="Periods">
    <input class="{{getClass(4)}}" type="button" name="mode" (click)="onModeChange(4)" value="Radiation">
    <input class="{{getClass(5)}}" type="button" name="mode" (click)="onModeChange(5)" value="State">
    <input class="{{getClass(6)}}" type="button" name="mode" (click)="onModeChange(6)" value="Classification">
</div>