<div class="container">
    <span class="mode-button">
        <label for="mode-0">Normal</label>
        <input id="mode-0" type="radio" name="mode" (click)="onModeChange(0)" checked>
    </span>
    <span class="mode-button">
        <label for="mode-1">Blocks</label>
        <input id="mode-1" type="radio" name="mode" (click)="onModeChange(1)">
    </span>
    <span class="mode-button">
        <label for="mode-2">Groups</label>
        <input id="mode-2" type="radio" name="mode" (click)="onModeChange(2)">
    </span>
    <span class="mode-button">
        <label for="mode-3">Periods</label>
        <input id="mode-3" type="radio" name="mode" (click)="onModeChange(3)">
    </span>
</div>