.container
    margin: auto
    padding-bottom: 10px

    .mode-button
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        font-size: 15px
        margin-right: 5%
