$tile-colour: linear-gradient(to top, #B1CFEB 13%, #96BDC7 100%)
$tile-colour-selected: linear-gradient(to top, #ecf0f4 13%, #96BDC7 100%)
$tile-colour-metal: linear-gradient(to top, #d3d9df 13%, #a5b7bb 100%)
$text-colour: #F7F7F7

.element-container
    padding: 0.5%

.element-tile
    display: flex
    position: relative  
    justify-content: center
    padding: 15%
    margin: 3%
    color: $text-colour
    background: $tile-colour
    border: 2px solid transparent
    border-radius: 4%
    text-shadow: 0 0 10px $text-colour
    cursor: default

    .element-symbol
        position: relative
        vertical-align: middle
        top: 25%
        font-size: 2vw

    .element-number
        position: absolute
        top: 1%
        left: 3%
        font-size: 0.8vw

    .element-name
        position: absolute
        bottom: 2%
        font-size: 0.6vw

    &:hover
        background: $tile-colour-selected
        border: 2px solid white

.s-block
    background: linear-gradient(to top, #ca2929 13%, #d84f34 100%)
.p-block
    background: linear-gradient(to top, #d2ce47 13%, #c8a848 100%)
.d-block
    background: linear-gradient(to top, #332aac 13%, #3b4ac0 100%)
.f-block
    background: linear-gradient(to top, #217b1d 13%, #3a7d1d 100%)

.selected-group
    background: $tile-colour