@import ../../../styles/colours

$font: 'Times New Roman', Times, serif

.element-container
    padding: 0.5%

.element-tile
    display: flex
    position: relative
    justify-content: center
    padding: 15%
    margin: 3%
    color: $text-colour
    font-family: $font
    background: $tile-colour
    border: 2px solid transparent
    border-radius: 4%
    cursor: pointer

    .element-symbol
        position: relative
        vertical-align: middle
        top: 25%
        font-size: 2vw

    .element-number
        position: absolute
        top: 1%
        left: 3%
        font-size: 0.8vw

    .element-name
        position: absolute
        bottom: 2%
        font-size: 0.55vw

    &:hover
        background: $tile-colour-selected
        color: $tile-colour
        border: 2px solid $tile-colour
        box-shadow: 0 0 150px $tile-colour-selected

.s-block
    background: $tile-colour-block-s
.p-block
    background: $tile-colour-block-p
.d-block
    background: $tile-colour-block-d
.f-block
    background: $tile-colour-block-f

.stripe-odd
    background: $tile-colour
.stripe-even
    background: $tile-colour-stripe

.highlighted
    background: $tile-colour-highlighted
    color: $tile-colour
    border: 2px solid $tile-colour
    box-shadow: 0 0 50px $tile-colour-selected

.disabled
    background: #d6d1d8

.state-solid
    background: $tile-colour-state-solid
.state-liquid
    background: $tile-colour-state-liquid
.state-vapour
    background: $tile-colour-state-vapour

.classification-nonmetal
    background: $tile-colour-classification-nonmetal
.classification-metaloid
    background: $tile-colour-classification-metaloid
.classification-metal
    background: $tile-colour-classification-metal

.radioactive-true
    background: transparent
    border: 2px solid transparent
    box-shadow: 0 0 10px transparent
    color: $radiation-false-colour
    text-shadow: 0 0 10px transparent
    animation: 1s 1 open-radiation 1s
    animation-fill-mode: forwards

    &:hover
        animation-fill-mode: none
        background: $radiation-true-colour
        border: 2px solid $radiation-true-colour
        box-shadow: 0 0 120px $radiation-true-colour
        color: black

.radioactive-false
    background: transparent
    color: $radiation-false-colour
    text-shadow: none
    &:hover
        background: transparent
        box-shadow: 0 0 10px $radiation-false-colour
        border: 2px solid transparent
        color: $radiation-false-colour

@keyframes open-radiation
    100%
        border: 2px solid $radiation-true-colour
        box-shadow: 0 0 10px $radiation-true-colour
        color: $radiation-true-colour
        text-shadow: 0 0 10px $radiation-true-colour