$font: 'Times New Roman', Times, serif

$text-colour: #F7F7F7
$tile-colour: #5a6996
$tile-colour-stripe: #96a2c7
$tile-colour-selected: #ffffff
$tile-colour-highlighted: #c3cce7

$tile-colour-block-s: #a33d3d
$tile-colour-block-p: #ceb95e
$tile-colour-block-d: #384aae
$tile-colour-block-f: #247921

$tile-colour-state-solid: #825b71
$tile-colour-state-liquid: #6f8db4
$tile-colour-state-vapour: #6fb475

$tile-colour-classification-nonmetal: linear-gradient(to top, #5e476b 13%, #c658e5 100%)
$tile-colour-classification-metaloid: linear-gradient(to top, #a4a5d6 13%, #5e588c 100%)
$tile-colour-classification-metal: linear-gradient(to top, #c1c6cb 13%, #606f72 100%)

$radiation-true-colour: #25c8b0
$radiation-false-colour: #979797

.element-container
    padding: 0.5%

.element-tile
    display: flex
    position: relative  
    justify-content: center
    padding: 15%
    margin: 3%
    color: $text-colour
    font-family: $font
    background: $tile-colour
    border: 2px solid transparent
    border-radius: 4%
    text-shadow: 0 0 10px $text-colour
    cursor: default

    .element-symbol
        position: relative
        vertical-align: middle
        top: 25%
        font-size: 2vw

    .element-number
        position: absolute
        top: 1%
        left: 3%
        font-size: 0.8vw

    .element-name
        position: absolute
        bottom: 2%
        font-size: 0.6vw

    &:hover
        background: $tile-colour-selected
        color: $tile-colour
        border: 2px solid $tile-colour
        box-shadow: 0 0 150px $tile-colour-selected

.s-block
    background: $tile-colour-block-s
.p-block
    background: $tile-colour-block-p
.d-block
    background: $tile-colour-block-d
.f-block
    background: $tile-colour-block-f

.stripe-odd
    background: $tile-colour
.stripe-even
    background: $tile-colour-stripe

.selected-group
    background: $tile-colour-highlighted
    color: $tile-colour
    border: 2px solid $tile-colour
    box-shadow: 0 0 50px $tile-colour-selected

.disabled
    background: #d6d1d8

.state-solid
    background: $tile-colour-state-solid
.state-liquid
    background: $tile-colour-state-liquid
.state-vapour
    background: $tile-colour-state-vapour

.classification-nonmetal
    background: $tile-colour-classification-nonmetal
.classification-metaloid
    background: $tile-colour-classification-metaloid
.classification-metal
    background: $tile-colour-classification-metal

.radioactive-true
    background: transparent
    border: 2px solid transparent
    box-shadow: 0 0 10px transparent
    color: $radiation-false-colour
    text-shadow: 0 0 10px transparent
    animation: 1s 1 radiation 1s
    animation-fill-mode: forwards
    &:hover
        animation-fill-mode: none
        background: $radiation-true-colour
        border: 2px solid $radiation-true-colour
        box-shadow: 0 0 120px $radiation-true-colour
        color: black
.radioactive-false
    background: transparent
    color: $radiation-false-colour
    text-shadow: none
    &:hover
        background: transparent
        box-shadow: 0 0 10px $radiation-false-colour
        border: 2px solid transparent
        color: $radiation-false-colour

@keyframes radiation
    100%
        border: 2px solid $radiation-true-colour
        box-shadow: 0 0 10px $radiation-true-colour
        color: $radiation-true-colour
        text-shadow: 0 0 10px $radiation-true-colour