<div class="container">
    <table>
        <thead>
            <tr>
                <th (click)="sort(0)">Z</th>
                <th (click)="sort(1)">Name</th>
                <th (click)="sort(2)">Symbol</th>
                <th (click)="sort(3)">Classification</th>
                <th (click)="sort(4)">Radiation</th>
                <th (click)="sort(5)">Melting Point</th>
                <th (click)="sort(6)">Boiling Point</th>
                <th (click)="sort(7)">Block</th>
                <th (click)="sort(8)">Group</th>
                <th (click)="sort(9)">Period</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let ele of elements"
                (mouseenter)="selectElement(ele)"
                (mouseleave)="unselect()"
                [class]="getRowHtmlClass(ele)"
            >
                <td class="cell" (click)="openModal()">{{ele.atomicNumber}}</td>
                <td class="cell" (click)="openModal()">{{ele.name | titlecase}}</td>
                <td class="cell" (click)="openModal()">{{ele.symbol}}</td>
                <td class="cell" (click)="openModal()">{{getElementClassification(ele.classification)}}</td>
                <td class="cell" (click)="openModal()">{{ele.isRadioactive ? '☢' : ''}}</td>
                <td class="cell" (click)="openModal()">{{ele.meltingPoint}}</td>
                <td class="cell" (click)="openModal()">{{ele.boilingPoint}}</td>
                <td class="cell" (click)="openModal()">{{ele.block.name}}</td>
                <td class="cell" (click)="openModal()">{{ele.group?.name ?? '-'}}</td>
                <td class="cell" (click)="openModal()">{{ele.period.index}}</td>
            </tr>
        </tbody>
    </table>
</div>