<div class="container">
    <table>
        <thead>
            <tr>
                <th>Z</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Classification</th>
                <th>Radiation</th>
                <th>Melting Point</th>
                <th>Boiling Point</th>
                <th>Block</th>
                <th>Group</th>
                <th>Period</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let ele of getElements()"
                (mouseenter)="selectElement(ele)"
                (mouseleave)="unselect()"
                [class]="getRowHtmlClass(ele)"
            >
                <td class="cell">{{ele.atomicNumber}}</td>
                <td class="cell">{{ele.name | titlecase}}</td>
                <td class="cell">{{ele.symbol}}</td>
                <td class="cell">{{getElementClassification(ele.classification)}}</td>
                <td class="cell">{{ele.isRadioactive ? '☢' : ''}}</td>
                <td class="cell">{{ele.meltingPoint}}</td>
                <td class="cell">{{ele.boilingPoint}}</td>
                <td class="cell">{{ele.block.name}}</td>
                <td class="cell">{{ele.group?.name ?? '-'}}</td>
                <td class="cell">{{ele.period.index}}</td>
            </tr>
        </tbody>
    </table>
</div>